<div class="content">

    <form class="card" (ngSubmit)="onSubmit()" [formGroup]="formCreate" #form="ngForm">
        <mat-form-field appearance="outline" class="input">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastname" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
            <mat-label>Usuario</mat-label>
            <input formControlName="username" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" matInput>
        </mat-form-field>

        <div>
            <button mat-button color="" type="reset">Limpiar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">Guardar</button>
        </div>

    </form>
</div>